<div class="sidebar" [class.collapsed]="isCollapsed">
    <div class="sidebar-header">
      <h3 *ngIf="!isCollapsed">Dashboard</h3>
      <button (click)="toggleCollapse()" class="toggle-btn">collapse
      </button>
    </div>
    
    <nav>
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">
            <i class="fas fa-tachometer-alt"></i>
            <span *ngIf="!isCollapsed">Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="/orders" routerLinkActive="active">
            <i class="fas fa-shopping-cart"></i>
            <span *ngIf="!isCollapsed">Orders</span>
          </a>
        </li>
        <li>
            <a routerLink="/users" routerLinkActive="active">
              <i class="fas fa-shopping-cart"></i>
              <span *ngIf="!isCollapsed">Users</span>
            </a>
          </li>
        <li>
          <a routerLink="/items" routerLinkActive="active">
            <i class="fas fa-boxes"></i>
            <span *ngIf="!isCollapsed">Items</span>
          </a>
        </li>
        <li>
          <a routerLink="/transactions" routerLinkActive="active">
            <i class="fas fa-exchange-alt"></i>
            <span *ngIf="!isCollapsed">Transactions</span>
          </a>
        </li>
        <li>
          <a routerLink="/reports" routerLinkActive="active">
            <i class="fas fa-chart-bar"></i>
            <span *ngIf="!isCollapsed">Reports</span>
          </a>
        </li>
        <li>
          <a routerLink="/messages" routerLinkActive="active">
            <i class="fas fa-envelope"></i>
            <span *ngIf="!isCollapsed">Messages</span>
          </a>
        </li>
        <li>
          <a routerLink="/support" routerLinkActive="active">
            <i class="fas fa-question-circle"></i>
            <span *ngIf="!isCollapsed">Support</span>
          </a>
        </li>
        <li>
          <a routerLink="/settings" routerLinkActive="active">
            <i class="fas fa-cog"></i>
            <span *ngIf="!isCollapsed">Settings</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>